<template name="Checkout">
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script>
        braintree.setup(
                "MIIBCgKCAQEAw9QJrt3otJuhwhIWHQmbH+XHakXrbZDpKhZEMQB73uRsAZj2ZautpwBr/hPOvMchpLOpVoSDsdE32p8zKs32dc3JC3yRrD3cDbvgFea54LZUWIfk8Xe/Q1q0gwdOAmd0h39oTfQBMT/IWm6K7RTVeDVXemNu/2rqItawkTaATe/Ej47XnWeYWZB2d0p4cfEP7IA4by1l94LuKKy0MfrkTO4u/xslO8rZcLQghkRzpGwcQ0OC+Nz3JjqSutIsVEzjCQjJC+57kKVLHfY0FY64LFBWAWHjP2Kft67q/qi0/TdQFoZp94X2l/2C6Z38RqdqWD6eZ0Dlh6/7KHI4BIAoBwIDAQAB",
                'dropin', {
                    container: 'dropin'
                });
    </script>
</template>
