<template name="Home">
    <div class="row">
        <a href="https://v3-sandbox.justgiving.com/4w350m3/donation/direct/charity/11043?exitURL=http%3A%2F%2Flocalhost%3A3000%2Fdonated">Donate</a>

    </div>

    <div class="row">
        <a href="https://v3-sandbox.justgiving.com/4w350m3/donation/direct/charity/1104MessageAndAmount?amount=2">Add # for 2 pounds</a>
    </div>

    <div class="row">
        <button class="btn">Send msg</button>
    </div>

    <div class="row">
        <button id="post">Get Data</button>
    </div>
</template>
