/*****************************************************************************/
/* Donated: Style */
/*****************************************************************************/
.donated {
}

.name_blank {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
  	display: inline-block;
}

#toggle {
	float: right;
  	display: inline-block;
  	height: 36px;
  	width: 77px;
  	margin-right: 15px;
  	margin-top:5px;
}

.toggleOn {
	background-image: url("../img/toggle-on.png");
}

div.toggleOff{
	background-image: url("../img/toggle-off.png");
}

